<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Charada</h1>

        {% if ja_respondida %}
        <!-- Feedback de charada já respondida -->
        <p>Você já respondeu esta charada. Não é possível responder novamente.</p>
        <button onclick=window.location.href="{{ url_for('home') }}">Voltar para a Tela Inicial</button>
        {% else %}

        <!-- Exibição da charada e formulário de resposta -->

        <h1></h1>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Título especial</h5>
                <p class="card-text">{{ charada.texto }}.</p>

            </div>
        </div>

        <form method="post">

            <input type="text" name="resposta" placeholder="Digite sua resposta aqui">
            <button type="submit">Enviar Resposta</button>

        </form>

        {% if erro %}
        <p class="erro">{{ erro }}</p>
        {% endif %}
        {% endif %}
    </div>
</body>

</html>